<div class="container">
	<% if @homeimage  %>
		<% if @homeimage.link_url.length > 5 %>
			<% link = @homeimage.link_url %>
		<% else %>
			<% link = "#" %>
		<% end %>
		<a href="<%= link %>">
			<div class="hero-wrapper">
				<%= image_tag "#{@homeimage.photo_url}", class: 'center-block' %>
			</div>
		</a>
	<% else %>

	<div class="hero-wrapper">
			<%= image_tag 'hero/hero.png', class: 'center-block' %>
	</div>
	<% end %>
</div>

<div class="container main">
	<div class="leaf-overlay-top center-block">
		<%=image_tag 'leaf-top.png' %>
	</div>
	<div class="main-wrapper">
		<% @articles.order("created_at desc").each do |article| %>
			<div class="article">
				<div class="row">
					<div class="col-md-4">
						<div class="image-thumbnail">
							<% if article.photo.length > 5 %>
								<img src="<%= article.photo %>", width="260" , height="175" />
							<% else %>
								<%= image_tag 'article-image.png' %>
							<% end %>
						</div>
					</div>
					<div class="col-md-8">
						<h3 class="title"><%= article.title %></h3>
						<p class="date"><%= article.created_at.strftime("%B %e, %Y") %></p>
						<% if article.blurb %>
							<p class="text"><%= article.blurb.html_safe %></p>
						<% end %>
						<%= link_to "Read More >>>", article_path(article), class: 'link' %>
					</div>
				</div>
			</div>
		<% end %>
		<div class="pagination">
			<div class="row">
				<div class="col-md-12 text-center">
					<%= will_paginate @articles, :page_links => false %>
				</div>
			</div>
		</div>
	</div>
	<div class="leaf-overlay-bottom center-block">
		<%=image_tag 'leaf-bottom.png' %>
	</div>
</div>


