<div class="container main">
	<div class="leaf-overlay-top center-block">
		<%=image_tag 'leaf-top.png' %>
	</div>
	<div class="article-main">
		<div class="row">
			<div class="col-md-2">
				<div class="date">
					<b><%= @article.created_at.strftime("%b %e") %></b>
				</div>
			</div>
			<div class="col-md-9">
				<h2><%= @article.title %></h2>
				<div class="text">
					<p><%= @article.text %><p>
				</div>			
			</div>
		</div>
	</div>
	<div class="leaf-overlay-bottom center-block">
		<%=image_tag 'leaf-bottom.png' %>
	</div>

</div>