<!DOCTYPE html>
<html>
<head>
  <title>Scalemail</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  <script src="https://use.typekit.net/qhw5xed.js"></script>
  <script>try{Typekit.load({ async: true });}catch(e){}</script>
</head>
<body>

<div class="container">
<!-- 	<div class="nav-header">

			<%= image_tag 'nav-header.png' %>

	</div> -->
	
	<div class="navigation-wrapper" id="primary_nav_wrap">
		<div class="menu-wrapper">
			<ul class="left-menu">
				<li id="home"><%= link_to image_tag('home.png'), root_path %></li>
				<li><%= link_to image_tag('games.png'), '#'%>
					<ul>
						<!-- add menu items remove  comment arrows below -->
						<!-- <li><%=link_to 'item 1', '#' %></li> -->
					</ul>
				</li>
				<li><%= link_to image_tag('blog.png'), '#'%>
			</ul>

			<ul class="right-menu">
				<li><%= link_to image_tag('store.png'), '#'%></li>
				<li><%= link_to image_tag('contact.png'), '#'%></li>
			</ul>
		</div>
	</div>
	

</div>
<%= yield %>
<div class="container">
	<div class="footer">
		<div class="row">
			<div class= "col-md-12 text-center">
				<h4>Copyright 2015 Scalemail. All rights Reserved.</h4>
				<%= link_to 'Terms of Use', '#' %>
			</div>
		</div>
	</div>
</div>
</body>
</html>
